@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  z-index: 100;
}

.card {
  height: 97%;
}

.light-text {
  color: white !important;
}

.card {
  border-radius: 0%;
}

.inputTarget:focus {
  outline: none;
}

.load {
  height: 100vh;
}

.rotate {
  height: 50px;
  width: 50px;
  border: 8px dotted black;
  border-radius: 50%;
  animation: roll 5s infinite;
  background-color: rgba(255, 255, 255, 0.721);
}

@keyframes roll {
  0% {
      transform: rotate(360deg);
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.info-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  cursor: pointer;
}